html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Overall styling for the BODY of the document.
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;

    figure.banner {
        width: 100%;
    }

    figure.banner img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    figure.banner img:hover {
        opacity: .8;
    }
}

//Overall styling for the HEADER of the document.
header {
    color: white;
    padding: 1rem $gutter;
    margin-top: -130px;
    position: absolute;

    h1 {
        font-size: 4rem;
        font-weight: $normalWeight;   
    }
    h2 {
        font-size: 2rem;
        font-weight: $normalWeight;
    }
}

//Overall styling for the NAVIGATION of the document.
    nav {
        background-image: linear-gradient(to right, $secondaryColor , #05DBF2);
        border-bottom: 1px solid rgba(0,0,0,0.3);

        ul li {
            float: left;
            width: 15%;
            border-right: 1px solid rgba(0,0,0,0.3);
        }

        ul li:last-child {
            border-right: none;
        }

        ul li a {
            display: block;
            text-align: center;
            font-weight: $boldWeight;
            padding: .5rem 0;
            color: $primaryColor;
            text-decoration: none;
            transition: background 0.75s ease, color  0.75s ease;
        }

        ul li.active a {
            background-color: darken($secondaryColor, 10%);
        }

        ul li a:hover {
            color: $secondaryColor;
            background-color: $primaryColor;
        }
    }

//Overall styling for the MAIN of the document.
main {
    @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
        
        body { margin: 0; } 
        div#slider { overflow: hidden; }
        div#slider figure img { width: 20%; float: left; }
        div#slider figure { 
          position: relative;
          width: 500%;
          margin: 0;
          left: 0;
          text-align: left;
          font-size: 0;
          animation: 30s slidy infinite; 
        }
        
    h1 {
        font-size: 2rem;
        color: black;
        margin: 30px 0px 10px 0px;
    }

    .section {
        margin: 10px;
    }

    .square-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 200px;
        height: 200px;
        text-align: center;
        background-color: $secondaryColor;
        padding: 15px;
    }

    .card p {
        font-weight: bold;
        padding-top: 5px;
    }

    .card img{
        margin: auto;
        width: 50px;
        position: absolute;
    }
}

//Overall styling for the FOOTER of the document.
footer {
    width: 100%;
    background-color: $primaryColor;

    p {
        text-align: center;
        color: $secondaryColor;
        padding: .75rem;
        font-size: .9rem;
    }
}

//Clearfix: Force an Element not ot collapse.
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 