//Overall styling for the NAVIGATION of the document.
nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    ul li {
        width: auto;
    }

    ul li:last-child {
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    ul li a {
        padding: .5rem 1rem;
    }
}

//Overall styling for the MAIN of the document.
main {
    // .first-column {
    //     display:flex;
    //     flex-direction: column;
    // }
    // figure.photo {
    //     width: 50%-$gutterdbl;
    //     margin: .5rem $gutter;
    //     float: left;
    // }
}