html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Overall styling for the BODY of the document.
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}

//Overall styling for the HEADER of the document.
header {
    background-color: $primaryColor;
    color: $fontColor;
    padding: 1rem $gutter;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
        width: 200px;
        border-radius: 25px;
    }

    h1 {
        font-size: 2rem;
        font-weight: $normalWeight;    
    }
    h2 {
        font-size: 1.5rem;
        font-weight: $normalWeight;
    }
}

//Overall styling for the NAVIGATION of the document.
    nav {
        background-color: $secondaryColor;
        border-bottom: 1px solid rgba(0,0,0,0.3);

        ul li {
            float: left;
            width: 25%;
            border-right: 1px solid rgba(0,0,0,0.3);
        }

        ul li:last-child {
            border-right: none;
        }

        ul li a {
            display: block;
            text-align: center;
            font-weight: $boldWeight;
            padding: .5rem 0;
            color: $primaryColor;
            text-decoration: none;
            transition: background 0.75s ease, color  0.75s ease;
        }

        ul li.active a {
            background-color: darken($secondaryColor, 10%);
        }

        ul li a:hover {
            color: $secondaryColor;
            background-color: $primaryColor;
        }
    }

//Overall styling for the MAIN of the document.
main {
    width: 65rem;
    margin: 0 auto;

    .first-row {
        // column-count: 2;
        // display:flex;
        // justify-content: space-between;
        // margin: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .photo-1 {
        grid-column: 2 / 1;
        grid-row: 1 / 4;
    }

    // .first-row figcaption {
    //     margin-top: -40px;
    //     padding-left: 15px;
    //     font-size: 1.5rem;
    //     color: white;
    // }

    // .first-row figure.photo {
    //     max-width: 50%;
    // }

    // .first-row figure.photo-1 img {
    //     height: 100%;
    //     border: solid 1px red;
    // }

    // .first-row figure.photo-2 {
    //     height: 50%;
    // }

    // .first-row figure.photo-3 {
    //     height: 50%;
    // }

    // .first-column {
    //     display:flex;
    //     flex-direction: column;
    //     border: solid 1px red;
    // }

    .second-row {
       column-count: 2;
       margin: .5rem $gutter;
    }

    .second-row .photo  {
        width: 100%;
    }

    .second-row .photo img {
        width: 100%;
    }
}

//Overall styling for the FOOTER of the document.
footer {
    width: 100%;
    background-color: $primaryColor;

    .footer {
        display: flex;
        justify-content: space-around;
        padding: 20px 30px 60px 30px;
    }
    
    .footer div {
        padding: 10px;
    }

    .copyright {
        text-align: center;
        color: $secondaryColor;
        padding: .75rem;
        font-size: .9rem;
    }

    .top {
        font-weight: bold;
    }

    .section p {
        padding: 3px
    }
}

//Clearfix: Force an Element not ot collapse.
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 