/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: lightgrey;
  color: black;
  padding: 1rem 2%;
  border-top: .25rem solid green; }
  header h1 {
    font-size: 2rem;
    font-weight: 300; }
  header h2 {
    font-size: 1.5rem;
    font-weight: 300; }

nav {
  background-color: lightyellow;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul {
    margin-left: 2%; }
  nav ul li {
    float: left;
    width: 25%;
    width: auto; }
  nav ul li:last-child {
    border-right: none; }
  nav ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 1rem;
    color: black;
    text-decoration: none;
    transition: background 0.75s ease, color  0.75s ease; }
  nav ul li.active a {
    background-color: #ffffad; }
  nav ul li a:hover {
    color: lightyellow;
    background-color: lightgrey; }

main figure.banner {
  width: 100%; }
main figure.banner img {
  width: 100%; }
main .attorney {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid lightgrey;
  margin: 15px 10px 20px 10px;
  width: 200px;
  height: 300px;
  background-color: lightyellow; }
main .blogpost {
  border: 1px solid lightgrey;
  background-color: lightyellow; }
main .learn {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px; }
main .read {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin-top: 5px; }
main h1 {
  font-size: 2rem;
  margin: 1rem 0 0 2%;
  color: lightyellow; }
main h2 {
  font-size: 1.5rem;
  margin: 0.75rem 0 0 2%;
  color: #666666; }
main h3 {
  font-size: 1.2rem;
  color: #4d4d4d; }
main p {
  line-height: 130%;
  color: black; }
main div.attorneys .attorney {
  float: left;
  width: 46%; }
main figure.photo {
  width: 100%; }
main figure.photo img {
  width: 100%; }
main div.blog article {
  margin: 0.5rem 2%;
  width: 96%; }
main div.bottom article {
  background-color: lightyellow;
  margin: .5rem;
  border: 1px solid lightgrey;
  padding: .5rem; }
main div.bottom article h3 {
  padding: 0.5rem- 2%; }
main div.bottom article p {
  padding: 0.5rem- 2%; }
main .button {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none; }

footer {
  width: 100%;
  background-color: lightyellow; }
  footer p {
    text-align: center;
    color: black;
    padding: .75rem;
    font-size: .9rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  main figure.photo {
    width: 96%;
    margin: 0.5rem 2%; }
  main div.blog article {
    float: left;
    width: 46%; }
  main div.blog article:nth-child(2n+1) {
    clear: left; }
  main div.attorneys .attorney {
    float: left;
    width: 21%; }
  main div.bottom article {
    float: left;
    width: 46%; }
  main div.bottom .question {
    width: 15%; } }
@media only screen and (min-width: 1140px) {
  div#wrapper {
    max-width: 75rem;
    margin: 2rem auto;
    box-shadow: 0 0 10px #000000; }

  nav ul {
    margin-left: 2%; }
  nav ul li {
    width: auto; }
  nav ul li a {
    padding: .5rem 1rem; }

  main figure.photo {
    width: 96%;
    margin: 0.5rem 2%; }
  main div.blog article {
    width: 21%; }
  main div.blog article:nth-child(2n+1) {
    clear: none; } }
